@media (min-width: 320px) {
  .left-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
  .navbar-contents {
    min-height: fit-content;
    display: grid;
    gap: 1.4rem;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    left: 0;
  }
}

@media (min-width: 784px) {
}
