$lg-txt: 1.2rem;
$md-txt: 0.8rem;
$sm-txt: 0.6rem;

$bg-dark: 17, 24, 38;
$total-length: 400;
$anim-delay: 2400ms;

$dark-blue:rgba(2, 0, 36, 1) 34%;
$violet:rgba(101, 9, 121, 1) 34%;

$text-primary: rgb(255, 255, 255);
