.cycle-wrapper {
  width: 80%;
  position: relative;
}
.rw-words {
  display: inline;
  /* text-indent: 10px; */
  white-space: nowrap;
}
.rw-words-1 span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: var(--text-color);
  animation: rotateWord var(--anim-length) linear infinite 0ms;
  animation-delay: var(--anim-delay);
}

@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    transform: translateY(-30%);
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    transform: translateY(30%);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
